@font-face {
  font-family: 'Pricedown';
  src: url('../fonts/pdown.ttf')  
}

@font-face {
  font-family: 'bankgothic';
  src: url('../fonts/bankgothic.ttf') /* TTF file for CSS3 browsers */
}

html {
  overflow: hidden;
}

#cursor {
  position: absolute;
  z-index: 999999;
  display:  none;
}

#hud {
  
  position: relative;
  top: -10px/*5px*/;
  left: 33%;
  transform-origin: center;
  transform: translatex(170px);


  display : flex;
  justify-content: space-around;
  align-items: center;

  font-family: 'Pricedown';
  font-size  : 20px;
  color      : white;
  
  text-shadow: 1px 1px 1px black;
  text-align: center;


  width: 15em; 
  height: 1.05em;

  border: 1px solid #333;
  border-bottom: none;
  /*box-shadow: 8px 8px 5px rgba(0,0,0,0.3);*/
  /*border-radius: 30px;*/ 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


  background-color: rgba(0,0,0,0.5);

  padding: 8px 12px;
  margin-top: 5px; /* 27px */

}

#hud :nth-child(0n+1) :nth-child(0n+1) {
  /* Simple card */
    display: none;
    
}

#hud :nth-child(0n+2) :nth-child(0n+1) {
  /* Black money card */
       display: none;
}


#hud :nth-child(0n+1) {
  /* Div Simple Money */
  display: none;
  
  
}

#hud :nth-child(0n+2) {
  /* Div Black Money */
    display: none;
}


#hud :nth-child(0n+3) {
  /* Job Div */
  font-size: 30px;
  
}

#hud :nth-child(0n+4) {
  /* Society Div */
  display: none;
  
}

#inventory_notifications {
  font-family: bankgothic; 
  position   : absolute; 
  right      : 40;
  bottom     : 40;
  font-size  : 2em;
  font-weight: bold;
  color      : #FFF;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.menu {
    font-family: 'Open Sans', sans-serif;
    min-width       : 400px;
    min-height:     : 250px;
    color           : #fff;
    position        : absolute;
    left            : 40;
    top             : 0; 
}

.menu .head {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  padding: 10px;
  background: #1A1A1A;
  border-bottom: 3px solid #BC1635;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  background-color: rgba(0,0,0,0.3);: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
}
.menu .head span {
  font-family: 'Pricedown';
  font-size: 28px;
  padding-left: 15px; 
  padding-top: 6px; 
}

.menu .menu-items .menu-item {
  font-family     : 'Pricedown'; /*'Open Sans', sans-serif;*/
  font-size       : 16px;
  height          : 50px;
  display         : block;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow      : inset 1px 0px 0px 5px #fff;zq
  height          : 32px;
  line-height     : 32px;
  color           : #fff;
  text-align      :  center;

  border: 1px solid #333;
  border-radius: 30px;
}

.menu .menu-items .menu-item.selected {
  background-color: rgba(125,0,0,0.3);
}
